.btn-purple {
    background-color: #2b5fe2; 
    border-color: #2b5fe2; 
    color: #fff; 
}
  
.btn-purple:hover {
    /*background-color: #2ba5e2; */
    border-color: #2ba5e2; 
    color: #2b5fe2; 
}

.titulo{
    text-align: center;
    color: black;
    font-weight: bold;
}

.modal-title{
    color: #fff;
    font-weight: bold;
}

#calendario {
    width: 600px;
    height: 400px;
}
